template(name="about")
  h1 A Little About Us
  |Chaos box mods is a family-owned and operated company from north Mississippi.
  |Our company was established to help serve the high demand of quality devices.
  |We intend to provide the goods & services that vapers search for in a timely fashion.
  |In order to meet our standards, we keep our suppliers stocked with product.
  |There are no preorders or wait times with Chaos Box Mods, and we intend to maintain that promise as our business grows and develops.
  |We are fully dedicated to our vendors,retailers, and customers.
