template(name="contact")
  .animated.fadeInDown
    ul(class="list-group")     
      li(class="list-group-item") Sales: <a href="">Sales@chaosboxmods.com</a> 
      li(class="list-group-item") Service: <a href="">Service@chaosboxmods.com</a> 
      li(class="list-group-item") Wholesale: <a href="">Wholesale@chaosboxmods.com</a>
    .center-block
      a(class="btn btn-social-icon btn-twitter" href="http://facebook.com/chaosboxmods")
        i(class="fa fa-facebook")
