template(name='disclaimer')
  h1 Legal
  small
    p Exclusive to Chaos Box Mods, L.L.C. 
    p This product is for advanced vapers only and requires technical knowledge in order to use it.
    p DO NOT purchase if you are not comfortable or experienced with these types of mechanical mods.
    p NOTE: A rebuildable coil/wick must be tested carefully with an ohm meter before use.
    p As a consumer, you are using our products entirely at your own risk.
    p Faulty wicks/coils CAN and WILL damage electronic devices.
    p New coil/wick units must be tested and then used first on a strong basic electrical APV that has short circuit protections.
    p No coil/wick assembly should be used on an electronic device until known to be safe.
    p Disclaimer: Mechanical mods are for advanced vapers only with access to multimeters, high discharge batteries, and a working knowledge of how electoronic devices work. 
    p Please ensure care is taken as to not cause damage/harm to your device, atomizer, mod, or yourself. 
    p Upon purchasing this product you agree that Chaos Box Mods, L.L.C. will not be held responsible for any injuries or property damage caused by use or misuse of this product.
    p Chaos Box Mods are suggested to be used with 2 x flat top 26650 40A plus batteries, and coil resistance should be kept above .2 ohm's.
    p Warranty: Chaos Box Mods, L.L.C. manufactures in Mississippi and offers a lifetime warranty on workmanship on our products/devices. 
    p This warranty includes any mechanical defects or electrical issues the consumer may experience. 
    p The device should be returned to us at the consumer's cost with a valid tracking number and insurance. 
    p Chaos Box Mods, L.L.C. will then repair or replace your product after close inspection confirming the product has been used in compliance with this contract.
    p Chaos Box Mods, L.L.C. will pay for the return shipping to you with tracking and insurance.
    p Please note that your local B&M sales policies are in full effect, and Chaos Box Mods, L.L.C. will not repair/replace any product that is found to be used improperly. 
    p For further information please do not hesitate to contact us so that we can do our very best to assist you.
