template(name="promotions")
  blockquote
    p Chaos Box Mods are designed for advanced vapors only!
     |They do not have any form of regulation, offset, or any other circuit protection.
     |If you do not understand battery safety, how to build a coils according to Ohm's law, and use an ohm reader: then our devices are not for you!
     |Please be safe and vape on!
     br
     |PS: 
     a(href="{{pathFor 'disclaimer'}}") Check out our warranty and disclaimer
