template(name="retailers")
  #portfoliowrap
    .container
      .row
        h1 RETAILERS
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc    
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='http://www.cfreecigs.com/')
                img.img-responsive(alt='', src='http://static.wixstatic.com/media/1f1d21_654001fa0fa14ad393357f80703e7493.png')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://chasethevape.com')
                img.img-responsive(alt='', src='https://chasethevape.com/zen/includes/templates/hampshire_cammie/images/logo.png')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.facebook.com/tobaccoVAPE')
                img.img-responsive(alt='', src='img/tobaccovape.png')
            .overlay
      .row.mt
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc      
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='http://www.zooksvapor.com/')
                img.img-responsive(alt='', src='http://nebula.wsimg.com/261439f5ff29dbe95296fd623fa4e217?AccessKeyId=57966471C7D0740679A5&disposition=0&alloworigin=1')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc      
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.facebook.com/WolfRiverVapor')
                img.img-responsive(alt='', src='img/wolfrivervapor.jpg')
            .overlay
         .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc       
           .photo-wrapper
             .photo
               a.fancybox(target='_blank' href='https://www.facebook.com/coolvapesms')
                 img.img-responsive(alt='', src='img/coolvapes.jpg')
             .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='http://www.msvapors.com')
                img.img-responsive(alt='', src='/img/msvapors.png')
            .overlay
      .row.mt
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.facebook.com/preciousvapes')
                img.img-responsive(alt='', src='img/preciousvapes.png')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.nashvillevapor.com')
                img.img-responsive(alt='', src='img/nashvillevapor.jpg')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='http://www.vaporwize.com')
                img.img-responsive(alt='', src='img/vaporwize.png')
            .overlay
      .row.mt
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.magnoliavapes.com')
                img.img-responsive(alt='', src='img/magnoliavapes.png')
            .overlay
        .col-lg-4.col-md-4.col-sm-4.col-xs-12.desc
          .photo-wrapper
            .photo
              a.fancybox(target='_blank' href='https://www.facebook.com/pages/Blue-Monkey-Vapes/1504803336430367')
                img.img-responsive(alt='', src='img/bluemonkeyvapes.jpg')
            .overlay